$c-gray-light: #edf3f6;
$c-primary: #1abc9c;
$c-secondary: #9b59b6;
$c-light: #2d5680;
$c-text: #fff;
$bdc-base: #465f78;
$bgc-body: #04a73a21;
$c-button-outlined: #fff;
$bdr-button: 3px;

$primary-color: #008060;
$success-color: #1e8e3e;
$info-color: $primary-color;
$warning-color: #ffc440;
$error-color: #d93026;
$processing-color: $primary-color;
$text-color: fade(#000, 65%);
$text-color-secondary: fade(#000, 45%);
$border-color-base: #dedede;
$border-color-split: #dedede;
$layout-body-background: #fafafa;
$layout-header-background: #52c41a;
$font-size-base: 12px;
$border-radius-base: 0;
$border-radius-sm: 0;
$outline-width: 0;
$outline-color: #737373;
$background-color-base: hsv(0, 0, 96%);
$btn-default-bg: #fafafa;
$btn-default-border: #dedede;
$radio-button-bg: transparent;
$radio-button-checked-bg: transparent;
$form-item-margin-bottom: 16px;
$input-height-lg: 36px;
$input-hover-border-color: #737373;
$progress-radius: 0;
$table-header-bg: #fafafa;
$table-row-hover-bg: #fafafa;
$table-padding-vertical: 15px;
$tabs-card-gutter: -1px;
$tabs-card-tab-active-border-top: 2px solid $primary-color;
$switch-color: $success-color;
$breadcrumb-base-color: $text-color;
$breadcrumb-last-item-color: $text-color-secondary;
$slider-handle-border-width: 1px;
$slider-handle-shadow: 1px 1px 4px 0 rgba(0,0,0,.13);
$slider-track-background-color: $primary-color;
$slider-track-background-color-hover: $primary-color;
$slider-handle-color: #dedede;
$slider-handle-color-hover: #dedede;
$slider-handle-color-focus: #dedede;
$slider-handle-color-focus-shadow: transparent;
$slider-handle-color-tooltip-open: #ddd;
$alert-success-border-color: #dff4e5;
$alert-success-bg-color: #dff4e5;
$alert-info-border-color: #e5f3ff;
$alert-info-bg-color: #e5f3ff;
$alert-warning-border-color: #fff7db;
$alert-warning-bg-color: #fff7db;
$alert-error-border-color: #fcebea;
$alert-error-bg-color: #fcebea;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$textColor: #42474C;
$textLight1Color: #6b7177;

$primaryDark2Color: #008060;
$primaryDark1Color: #004C3F;
$primaryColor: #0d810d;
$primaryLight1Color: #C1F0D0;
$primaryLight2Color: #EFFCFA;

$secondaryColor: #906509;
$secondaryLight1Color: #FBF7ED;
$secondaryLight2Color: #FFF8F6;
$secondaryLight3Color: #E2E6DC;
$secondaryLight4Color: #EDE8DB;

$warningColor: #C43256;
$warningLight1Color: #c432571f;
/* ----------------------------- *\
|             $COLORS             |
\* ----------------------------- */

/*-------Branding colors */
$color-brand: #ea83ee;
$color-secondary: rgb(219, 216, 221);  
  $color-black: rgb(0, 0, 0) ;
$color-darkblack: #4d4d4d;
 $color-grey: #bfbfbf;
   $color-white: rgb(255, 255, 255)  ;
/*-------text colors */
$black-text:black;
$blue-text:blue;
$yellow-text:yellow;
$orange-text:orange;
$white-text:white;

/*-------alerts colors */
$danger-color:#ff0000;
$warning-color: #ffa500;
$success-color: #30e92c;
$info-color: #5474f5;


/*-------background colors */

/*------- fonts styles */
$basefont: 'Quicksand',
Verdana,
Geneva,
Tahoma,
sans-seri;
$basefontsize: 16px;
/*-------cols size's */

/*-------elements size's */
$buttoncolor: $color-white ;
$buttonbackgroundcolor: $color-brand;
